@charset "UTF-8";

/**通配符**/

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

img {
	width: 100%;
}

body {
	width: 100%;
}


/**清除浮动**/

.clear:after {
	content: "";
	height: 0;
	display: block;
	clear: both;
}

#container {
	width: 100%;
	
}
/*头部*/
#container .header {
	height: 2.8rem;
	padding: 0.3rem;
}

#container .logo {
	width: 40%;
	float: left;
}

#container .logo a {
	display: block;
	width: 100%;
}

#container .header_r {
	width: 20%;
	float: right;
	padding: 0.3rem 0;
}

#container .header_r .search {
	width: 40%;
	float: left;
}

#container .header_r .search a {
	display: block;
}

#container .header_r .nav_p {
	width: 40%;
	float: right;
}


/**banner**/

#container .banner {
	width: 100%;
	height: 8.4rem;
	overflow: hidden;
	position: relative;
}

#container .banner ul {
	width: 100%;
	height: 100%;
	position: absolute;
}

#container .banner ul li {
	position: absolute;
	width: 100%;
}
#container .banner ul li img{
	height: 8.4rem;
}

#container .banner .nav {
	width: 3.2rem;
	height: 6.5rem;
	position: absolute;
	left: 80%;
	top: 0;
}

#container .banner .nav ul {
	width: 100%;
	height: 100%;
}

#container .banner .nav ul li {
	position: relative;
	width: 100%;
	height: 1.2rem;
	line-height: 0.8rem;
	margin-bottom: 0.1rem;
	background: #d1d1d1;
}

#container .banner .nav ul .home {
	background: #259864;
}

#container .banner .nav ul li a {
	padding-top: 0.2rem;
	width: 100%;
	display: block;
	text-align: center;
	font-size: 0.7rem;
	color: #333333;
	height: 100%;
}


/*圆点*/

#container .banner ol {
	position: absolute;
	left: 48%;
	top: 90%;
}

#container .banner ol li {
	float: left;
	width: 0.4rem;
	height: 0.4rem;
	border-radius: 100%;
	margin-right: 0.42rem;
	background: #FFFFFF;
}

#container .banner ol .active_ol {
	background: #259864;
}


/*公司介绍*/

#container .introduce {
	width: 95%;
	margin: 1.176rem auto 0;
}

#container .introduce .title {
	font-size: 1.6rem;
	line-height: 2.1rem;
	border-bottom: solid 1px #333333;
	color: #333333;
}

#container .introduce .text {
	margin: 0.8rem 0;
	text-indent: 2em;
	font-size: 0.672rem;
}


/*新闻中心*/

#container .news {
	width: 95%;
	margin: 1.176rem auto 0.882rem;
}

#container .news .title {
	font-size: 1.6rem;
	line-height: 2.1rem;
	border-bottom: solid 1px #333333;
	color: #333333;
}

#container .news .content {
	margin-top: 0.7rem;
}

#container .news .content .content_head {
	width: 100%;
	height: 1.2rem;
	margin-bottom: 0.5rem;
}

#container .news .content .content_head .title2 {
	margin-bottom: 0.5rem;
	float: left;
}

#container .news .content .content_head .title2 text {
	font-size: 1rem;
	line-height: 1.3rem;
	border-bottom: solid 1px #212020;
	color: #212020;
}

#container .news .content .content_head .time {
	float: right;
	color: #333333;
	font-size: 0.8rem;
}

#container .news .content .text {
	text-indent: 2em;
	margin: 15px;
	color: #666666;
	font-size: 0.6rem;
}

#container .news .more {
	text-align: center;
	display: block;
	margin-left: 84%;
	width: 16%;
	height: 1rem;
	line-height: 1rem;
	font-size: 0.6rem;
	color: #000000;
	background: #2e9d62;
}


/*middle*/

#container .middle img {
	width: 100%;
}


/*产品展示*/

#container .product {
	width: 95%;
	margin: 1.2rem auto 0;
}

#container .product .title {
	font-size: 1.6rem;
	line-height: 2rem;
	border-bottom: solid 1px #333333;
	color: #333333;
}

#container .product .all {
	margin-top: 0.8rem;
}

#container .product .all .content {
	margin-bottom: 0.4rem;
}

#container .product .all .content .pro_pic {
	float: left;
	width: 40%;
	height: 100%;
}

#container .product .all .content .pro_info {
	background: #e3e2e2;
	float: right;
	width: 57%;
	height: 6.5rem;
	padding-top: 1%;
	padding-left: 3%;
}

#container .product .all .content .pro_info .title3 {
	font-size: 0.8rem;
	border-bottom: solid 1px #259864;
	color: #259864;
}

#container .product .all .content .pro_info .text {
	margin-top: 0.4rem;
	font-size: 0.6rem;
	color: #232120;
}

#container .product .more {
	text-align: center;
	display: block;
	margin-left: 84%;
	width: 16%;
	height: 1rem;
	line-height: 1rem;
	font-size: 0.6rem;
	color: #000000;
	background: #2e9d62;
}


/*联系我们*/

#container .contact {
	width: 95%;
	margin: 1.176rem auto 0;
}

#container .contact .title {
	font-size: 1.6rem;
	line-height: 2rem;
	border-bottom: solid 1px #333333;
	color: #333333;
}

#container .contact .content {
	margin-top: 0.8rem;
}

#container .contact .content form .input {
	margin-bottom: 0.5rem;
	position: relative;
	width: 100%;
	height: 1.6rem;
	border: solid 1px #333333;
}

#container .contact .content form .input img {
	width: 3%;
	position: absolute;
	top: 0.4rem;
	left: 0.3rem;
}

#container .contact .content form .input span {
	font-size: 0.6rem;
	position: absolute;
	top: 0.3rem;
	left: 1.3rem;
}

#container .contact .content form .input input {
	position: absolute;
	top: 0.1rem;
	left: 2.9rem;
	border: none;
	width: 83%;
	height: 88%;
	outline: none;
	font-size: 0.6rem;
}

#container .contact .content form .textarea {
	margin-bottom: 0.5rem;
	position: relative;
	width: 100%;
	height: 6.8rem;
	border: solid 1px #333333;
}

#container .contact .content form .textarea img {
	width: 3%;
	position: absolute;
	top: 0.4rem;
	left: 0.3rem;
}

#container .contact .content form .textarea span {
	font-size: 0.6rem;
	position: absolute;
	top: 0.3rem;
	left: 1.3rem;
}

#container .contact .content form .textarea textarea {
	position: absolute;
	top: 0.4rem;
	left: 2.9rem;
	border: none;
	width: 83%;
	height: 92%;
	outline: none;
	font-size: 0.6rem;
}

#container .contact .content form .bottom {
	width: 100%;
}

#container .contact .content form .bottom .code_in {
	width: 16%;
	height: 1.3rem;
	text-align: center;
	font-size: 0.6rem;
	vertical-align: middle;
	border: solid 1px #333333;
}

#container .contact .content form .bottom .code {
	display: inline-block;
	width: 2.9rem;
	height: 1.3rem;
	vertical-align: middle;
	border: solid 1px #333333;
	padding-left: 1px;
	margin-left: 15%;
}

#container .contact .content form .bottom .submit {
	width: 10%;
	height: 1.3rem;
	font-size: 0.6rem;
	color: #FFFFFF;
	border: none;
	vertical-align: middle;
	float: right;
	background: #259864;
}

#container .info {
	width: 95%;
	margin: 1.2rem auto 0;
}

#container .info .title {
	font-size: 0.8rem;
	color: #339966;
}

#container .info .content {
	margin-top: 0.9rem;
}

#container .info .content .info_l {
	float: left;
}

#container .info .content .info_l p {
	font-size: 0.6rem;
	color: #666666;
	margin-bottom: 0.3rem;
}

#container .info .content .info_r {
	float: right;
	width: 30%;
}

#container .info .content .info_r p {
	margin-top: 0.2rem;
	width: 100%;
	text-align: center;
	font-size: 0.6rem;
	color: #666666;
}


/*地图*/

#container .map {
	width: 100%;
	height: 5.5rem;
	margin-top: 1.2rem;
}

#container .map iframe {
	width: 100%;
	height: 100%;
}

#container .footer {
	padding-top: 0.8rem;
	width: 100%;
	background: #333333;
}


/*底部*/

#container .footer p {
	padding-bottom: 0.5rem;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 0.6rem;
}